home.css

.custom-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.card {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}



.pagination {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}


.pagination li {
    display: inline;
    margin-right: 5px;
}


.pagination li.active {
    font-weight: bold;
}


.pagination li.previous,
.pagination li.next {
    font-weight: bold;
}


.pagination li.break {
    margin-right: 5px;
}


.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
}


.pagination a:hover {
    background: #0056b3;
}


.pagination li.disabled a {
    background: #ccc;
    cursor: not-allowed;
}
